// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer{
  height: 70px;
  width: 100%;
  background-color: #ccc4c1;
  padding: 1.5% 10%;
}

header{
  border-bottom: #3e3e3c;
}

main{
  min-height: calc(100vh - 70px - 70px);
  background-color: #e9eaec;
  padding: 4% 10%;
  h3{
    margin:1.5% 0; 
  }
}

footer{
  border-top: #3e3e3c;
}
